<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<connectionStrings>
		<add name="KneadDB"
			 connectionString="Data Source=db69826.databaseasp.net; Initial Catalog=db69826; User ID=db69826; Password=k?8F3D-iKa5@; MultipleActiveResultSets=True;"
			 providerName="System.Data.SqlClient" />
	</connectionStrings>
	
	<system.web>
		<compilation debug="true" targetFramework="4.8" />
		<httpRuntime targetFramework="4.8" maxRequestLength="1048576" />
		<customErrors mode="Off" />
		<sessionState timeout="120" />
		<globalization requestEncoding="utf-8" responseEncoding="utf-8" fileEncoding="utf-8" />
		<pages styleSheetTheme="">
			<controls>
				<add tagPrefix="asp" namespace="System.Web.UI" assembly="System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
			</controls>
		</pages>
	</system.web>

	<system.webServer>
		<defaultDocument>
			<files>
				<clear />
				<add value="Default.aspx" />
				<add value="Home.aspx" />
			</files>
		</defaultDocument>
	</system.webServer>
</configuration>
